[submodule "public"]
	path = public
	url = git@github.com:uqichi/uqichi.github.io.git
[submodule "themes/hugo-theme-cactus-plus"]
	path = themes/hugo-theme-cactus-plus
	url = git@github.com:uqichi/hugo-theme-cactus-plus.git
